@import url('./custom-style.css');
@import url('./dokan-custom-style.css');
@import url('./favorites-custom-style.css');
@import url('./order-confirmation-custom-style.css');
@import url('./product-list-custom-style.css');
@import url('./reviews-custom-style.css');
@import url('./user-profile-custom-style.css');
