/*
 Theme Name:   Hello Elementor Child
 Theme URI:    https://elementor.com/
 Description:  A child theme for Hello Elementor
 Author:       CodeBridge
 Template:     hello-elementor
 Version:      1.0.0
 Text Domain:  hello-elementor-child
*/
